@model Quiz1_mariamCharkviani.Models.Author
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FullName</h2>
<br />
<p><b>Born on: </b> @Model.DateOfBirth.ToLongDateString()</p>
<br />
<p><b>About:</b></p>
<p>
    @Model.About
</p>

<p>
    @Html.ActionLink("Back", "Index", "Author")
</p>

